@import "../../fonts/stylesheet.css";
body {
  font-family: "Gilroy";
}

.header {
  background-image: url("./../img/Rectangle 26.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.navbar {
  padding: 30px 0;
  font-size: 14px;
}
.navbar .nav-brand {
  margin-right: 124px;
}
.navbar .navbar-nav {
  gap: 40px;
}
.navbar .navbar-nav a {
  color: white !important;
  padding: 0 !important;
}
.navbar .navbar__social {
  gap: 20px;
  margin-left: 185px;
}

@media (max-width: 1200px) {
  .navbar-nav {
    margin-top: 20px;
    gap: 20px !important;
  }
  .nav-item {
    font-size: 18px;
  }
  .navbar__social {
    margin-top: 20px;
    margin-left: 0 !important;
  }
  .nav-brand {
    margin-right: 0 !important;
  }
}
.header-title {
  max-width: 636px;
  text-wrap: balance;
  font-size: clamp(1.438rem, 1.148rem + 1.54vw, 3rem);
  color: white;
  line-height: 140%;
}
.header-title.header-title_margin {
  margin-top: clamp(0rem, -2.315rem + 12.35vw, 12.5rem);
}

@media screen and (max-width: 1000px) {
  .header-title.header-title_margin {
    margin-top: 0 !important;
  }
  .abilities.abilities_margin {
    margin-top: 35px !important;
  }
  .video.video_margin {
    margin-top: 35px !important;
  }
}
.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.video .video__icon {
  width: 72px;
  height: 72px;
  background-color: #8D86C9;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.video .video__icon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  border: 2px solid white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.video .video__icon:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
}
.video .video__text {
  max-width: 158px;
  font-size: 18px;
  line-height: 140%;
  color: white;
  margin: 0;
}
.video.video_margin {
  margin-top: clamp(2.188rem, 1.898rem + 1.54vw, 3.75rem);
}

.abilities .abilities__item {
  background-color: #8D86C9;
  padding: 35px 40px 40px 35px;
  height: 151px;
  list-style: none;
  position: relative;
  color: white;
}
.abilities .abilities__title {
  font-size: 18px;
}
.abilities .abilities__text {
  font-size: 24px;
}
.abilities .abilities__icon {
  position: absolute;
  top: 72px;
  right: 35px;
}
.abilities.abilities_margin {
  margin-top: clamp(2.188rem, 0.255rem + 10.31vw, 12.625rem);
}

.images .row {
  gap: 64px;
  margin: 175px 0;
}
.images .row .col_width {
  max-width: 376px;
}
.images .row .col_width .court {
  height: 450px;
  position: relative;
}
.images .row .col_width .court .court__title {
  color: white;
  font-size: 27px;
  line-height: 140%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  width: 100%;
  text-wrap: balance;
}
.images .row .col_width .court.court_1 {
  background-image: url("./../../img/Rectangle 39.png");
}
.images .row .col_width .court.court_2 {
  background-image: url("./../../img/Rectangle 41.png");
}
.images .row .col_width .court.court_3 {
  background-image: url("./../../img/Rectangle 43.png");
}

.sportclub.sportclub_margin {
  margin-bottom: 150px;
}
.sportclub .sportclub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sportclub .sportclub-content .sportclub-content__img {
  margin-right: -72.5px;
  z-index: 2;
}
.sportclub .sportclub-content .sportclub-content__article {
  padding: 70px 60px 84px 145px;
  background-color: #F7ECE1;
}
.sportclub .sportclub-content .sportclub-content__article h1 {
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 25px;
}
.sportclub .sportclub-content .sportclub-content__article p {
  font-size: 14px;
  line-height: 140%;
}
.sportclub .sportclub-content .sportclub-content__article p.p_margin {
  margin-top: 20px;
  margin-bottom: 35px;
}
.sportclub .sportclub-content .sportclub-content__article h2 {
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 25px;
}
.sportclub .sportclub-content .sportclub-content__article .sportclub-content__list {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 140%;
}
.sportclub .sportclub-content .sportclub-content__article .sportclub-content__list .sportclub-content__item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #8D86C9;
  margin-right: 23px;
  margin-top: 7px;
}

@media (max-width: 1200px) {
  .sportclub-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col_w {
    max-width: 526px !important;
  }
  .sportclub-content__img {
    margin-right: 0 !important;
  }
  .sportclub-content__img img {
    width: 100%;
  }
  .sportclub-content__article {
    padding: 70px 10px 84px 10px !important;
  }
}
.news .card {
  height: 100%;
  padding: 30px 40px 40px 40px;
}
.news .card .card__img img {
  width: 100%;
  height: 100%;
}
.news .card time {
  margin-top: 25px;
  margin-bottom: 15px;
}
.news .card strong {
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 20px;
}
.news .card .btn-more {
  background-color: #8D86C9;
  color: white;
}
.news .card .btn-more.btn-more_margin {
  margin: 0 auto;
  margin-top: auto;
  margin-left: 0;
}